<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Clientes</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'; style-src 'self' 'unsafe-inline';">
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>
    <div class="container text-center mt-5">
        <h1 class="mb-4">Gerenciador de Clientes</h1>
        <div class="d-flex justify-content-center align-items-center flex-column">
            <img src="../../public/img/clientes.png" alt="clientes" title="Cadastro de clientes"
                class="img-fluid clickable-icon" onclick="openClientWindow()" style="cursor: pointer; max-width: 150px;">
            <p class="mt-2">Clique para cadastrar clientes</p>
        </div>
    </div>

    <footer class="fixed-bottom bg-light p-3 text-center d-flex justify-content-between align-items-center">
        <p id="dataAtual" class="mb-0 text-muted"></p>
        <img src="../../public/img/dboff.png" alt="dbicon" id="statusdb" class="img-fluid" style="height: 24px;">
    </footer>

    <script src="../../public/js/bootstrap.bundle.min.js"></script>
    <script src="../../public/js/script.js"></script>
</body>

</html>